<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_main_iso_qsg" name="Iso Qsg">
        <menuitem
                sequence="0"
                action="action_process_qsg"
                id="menu_process_qsg"

        />

        <menuitem
                sequence="1"
                action="action_ro_qs"
                id="menu_ro_qsg"

        />

        <menuitem
                sequence="2"
                action="action_control_operation_qsg"
                id="menu_ro_qsg"

        />




    </menuitem>

</odoo>
