.pos .pos-sale-ticket table {
    width: 100%;
    border: 0;
    table-layout: auto !important;
}

#loading {
    background: url('https://i.gifer.com/4V0b.gif') no-repeat center center;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.hide {
    display: none;
}