<NotaCreditoElectronica
    xmlns="https://cdn.comprobanteselectronicos.go.cr/xml-schemas/v4.3/notaCreditoElectronica"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://www.hacienda.go.cr/ATV/ComprobanteElectronico/docs/esquemas/2016/v4.3/NotaCreditoElectronica_V4.3.xsd">
    <Clave>{{document.number_electronic}}</Clave>
    <CodigoActividad>{{activity_code}}</CodigoActividad>
    <NumeroConsecutivo>{{document.number_electronic[21:41]}}</NumeroConsecutivo>
    <FechaEmision>{{document.date_issuance}}</FechaEmision>
    <Emisor>
        <Nombre>{{issuer.name}}</Nombre>
        <Identificacion>
            <Tipo>{{issuer.identification_id.code}}</Tipo>
            <Numero>{{issuer.vat}}</Numero>
        </Identificacion>
        <NombreComercial>{{issuer.commercial_name or "NA"}}</NombreComercial>
        <Ubicacion>
            <Provincia>{{issuer.state_id.code}}</Provincia>
            <Canton>{{issuer.county_id.code}}</Canton>
            <Distrito>{{issuer.district_id.code}}</Distrito>
            <Barrio>{{issuer.neighborhood_id.code}}</Barrio>
            <OtrasSenas>{{issuer.street or "NA"}}</OtrasSenas>
        </Ubicacion>
        <Telefono>
            <CodigoPais>{{phone_obj_issuer.country_code}}</CodigoPais>
            <NumTelefono>{{phone_obj_issuer.national_number}}</NumTelefono>
        </Telefono>
        <CorreoElectronico>{{issuer.email}}</CorreoElectronico>
    </Emisor>
    <Receptor>
        <Nombre>{{receiver.name[:99]}}</Nombre>
        <Identificacion>
            <Tipo>{{receiver.identification_id.code}}</Tipo>
            <Numero>{{receiver.vat}}</Numero>
        </Identificacion>
        {% if receiver.state_id and receiver.county_id and receiver.district_id and receiver.neighborhood_id %}
        <Ubicacion>
            <Provincia>{{receiver.state_id.code or ""}}</Provincia>
            <Canton>{{receiver.county_id.code or ""}}</Canton>
            <Distrito>{{receiver.district_id.code or ""}}</Distrito>
            <Barrio>{{receiver.neighborhood_id.code or "00"}}</Barrio>
            <OtrasSenas>{{receiver.street or "NA"}}</OtrasSenas>
        </Ubicacion>
        {% endif %}
        <Telefono>
            <CodigoPais>{{phone_obj_receiver.country_code}}</CodigoPais>
            <NumTelefono>{{phone_obj_receiver.national_number}}</NumTelefono>
        </Telefono>
        <CorreoElectronico>{{receiver.email}}</CorreoElectronico>
    </Receptor>
    <CondicionVenta>{{document.invoice_payment_term_id.sale_conditions_id.sequence}}</CondicionVenta>
    <PlazoCredito>{{document.invoice_payment_term_id.line_ids[0].days}}</PlazoCredito>
    <MedioPago>{{document.payment_method_id.sequence}}</MedioPago>
    <DetalleServicio>
        {% for line in lines %}
        <LineaDetalle>
            <NumeroLinea>{{line['numero_linea']}}</NumeroLinea>
            <Codigo>{{line['codigo']}}</Codigo>
            <Cantidad>{{line['cantidad']}}</Cantidad>
            <UnidadMedida>{{line['unidad_medida']}}</UnidadMedida>
            <Detalle>{{line['detalle']}}</Detalle>
            <PrecioUnitario>{{line['precio_unitario']}}</PrecioUnitario>
            <MontoTotal>{{line['monto_total']}}</MontoTotal>
            {% if line['discount'] %}
            <Descuento>
                <MontoDescuento>{{line['monto_descuento']}}</MontoDescuento>
                <NaturalezaDescuento>{{line['naturaleza_descuento']}}</NaturalezaDescuento>
            </Descuento>
            {% endif %}
            <SubTotal>{{line['sub_total']}}</SubTotal>
            {% for tax in line['impuestos'] %}
            <Impuesto>
                <Codigo>{{tax['codigo']}}</Codigo>
                <CodigoTarifa>{{tax['codigo_tarifa']}}</CodigoTarifa>
                <Tarifa>{{tax['tarifa']}}</Tarifa>
                <Monto>{{tax['monto']}}</Monto>
                 {% if amounts['check_exo']  == 1 %}
                <Exoneracion>
                    <TipoDocumento>{{amounts["type_doc"]}}</TipoDocumento>
                    <NumeroDocumento>{{amounts["num_doc"]}}</NumeroDocumento>
                    <NombreInstitucion>{{amounts["institu"]}}</NombreInstitucion>
                    <FechaEmision>{{amounts['date_emi']}}</FechaEmision>
                    <PorcentajeExoneracion>{{(amounts["percent_exo"])}}</PorcentajeExoneracion>
                    <MontoExoneracion>{{"%.4f"|format(amounts["total_exonerado"])}}</MontoExoneracion>
                </Exoneracion>
                {% endif %}
            </Impuesto>
            {% endfor %}
            {% if amounts['check_exo']  == 1 %}
            <ImpuestoNeto>{{"%.4f"|format(amounts['total_impuesto'])}}</ImpuestoNeto>
            <MontoTotalLinea>{{"%.4f"|format(amounts['total_comprobante'])}}</MontoTotalLinea>
            {% endif %}
            {% if amounts['check_exo']  == 0 %}
            <ImpuestoNeto>{{line['impuesto_neto']}}</ImpuestoNeto>
            <MontoTotalLinea>{{line['monto_total_linea']}}</MontoTotalLinea>
            {% endif %}
        </LineaDetalle>
        {% endfor %}
    </DetalleServicio>
     <ResumenFactura>
        <CodigoTipoMoneda>
            <CodigoMoneda>{{document.currency_id.name}}</CodigoMoneda>
            <TipoCambio>{{(currency_rate)|round(5)}}</TipoCambio>
        </CodigoTipoMoneda>
        <TotalServGravados>{{"%.4f"|format(amounts["service_taxed"])}}</TotalServGravados>
        <TotalServExentos>{{"%.4f"|format(amounts["service_no_taxed"])}}</TotalServExentos>
        <TotalServExonerado>{{"%.4f"|format(amounts["service_exempt"])}}</TotalServExonerado>
        <TotalMercanciasGravadas>{{"%.4f"|format(amounts["product_taxed"])}}</TotalMercanciasGravadas>
        <TotalMercanciasExentas>{{"%.4f"|format(amounts["product_no_taxed"])}}</TotalMercanciasExentas>
        <TotalMercExonerada>{{"%.4f"|format(amounts["product_exempt"])}}</TotalMercExonerada>
        <TotalGravado>{{"%.4f"|format(amounts["total_gravado"])}}</TotalGravado>
        <TotalExento>{{"%.4f"|format(amounts["total_exento"])}}</TotalExento>
        <TotalExonerado>{{"%.4f"|format(amounts["monto_exonerado"])}}</TotalExonerado>
        <TotalVenta>{{"%.4f"|format(amounts['total_venta'])}}</TotalVenta>
        <TotalDescuentos>{{"%.4f"|format(amounts["discount"])}}</TotalDescuentos>
        <TotalVentaNeta>{{"%.4f"|format(amounts['venta_neta'])}}</TotalVentaNeta>
        <TotalImpuesto>{{"%.4f"|format(amounts['total_impuesto'])}}</TotalImpuesto>
        <TotalOtrosCargos>{{"%.4f"|format(amounts["other_charges"])}}</TotalOtrosCargos>
        <TotalComprobante>{{"%.4f"|format(amounts['total_comprobante'])}}</TotalComprobante>
    </ResumenFactura>
    <InformacionReferencia>
        <TipoDoc>{{reference.number_electronic[29:31]}}</TipoDoc>
        <Numero>{{reference.number_electronic}}</Numero>
        <FechaEmision>{{reference.date_issuance}}</FechaEmision>
        <Codigo>{{reference_code.code}}</Codigo>
        <Razon>{{reference_code.name}}</Razon>
    </InformacionReferencia>
    <Otros>
        <OtroTexto>{{notes}}</OtroTexto>
    </Otros>
</NotaCreditoElectronica>
